body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #fff;
}

.container {
    max-width: 600px;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.sticker {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    color: #333;
}

textarea {
    width: 100%;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.ql-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

.ql-editor {
    min-height: 150px;
    color: #000; /* Исправим цвет текста на чёрный */
}

.ql-toolbar {
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    background-color: #f8f9fa;
}